section.conta
  .conta-item
    h1.title Crie a sua conta
    +input('Nome Completo', 'text', 'Ex: Lutero da Silva Pontes')
    +input('Email', 'email', 'Ex: fuladodetal@gmail.com')
    a.btn-big(href="") Inciar Cadastro

  .conta-item
    figure
      img(src=urlImg + 'suporte.svg', alt="")
      figcaption Suporte 24h Online


