section.vantagens
  h1.title Vantagens de investir conosco

  .container(class="vantagens-grid")
    +vantagens('monitor-window.svg', 'Acesso Online', 'Acesse a nossa plataforma e escolha o seu plano')
    +vantagens('monitor-loading-progress.svg', 'Rendimento Fácil', 'Espere até a data de resgate e acompanhe o rendimento')
    +vantagens('resgate.svg', 'Resgate Simples', 'Retire o rendimento e gaste parte em viagens e compras')
    +vantagens('monitor-window.svg', 'Acesso Online', 'Acesse a nossa plataforma e escolha o seu plano')
    +vantagens('monitor-loading-progress.svg', 'Rendimento Fácil', 'Espere até a data de resgate e acompanhe o rendimento')
    +vantagens('resgate.svg', 'Resgate Simples', 'Retire o rendimento e gaste parte em viagens e compras')

  .btn-vantagens  
    a.btn-big(href="") Entre em contato
